VastecOPMSP/Connected Services/FHSvc/FlowHubData.DataAccess.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlowHubData.DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlowHubData.DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BoxActivityDac.DualIndex">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoxActivityId" type="xs:long" />
      <xs:element minOccurs="0" name="JobActivityId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BoxActivityDac.DualIndex" nillable="true" type="tns:BoxActivityDac.DualIndex" />
</xs:schema>